.idea/
target/
build/

.gradle/
**/*.gpg

src/main/resources/META-INF/el4j-logger/
ui/node_modules/
ui/.yarn/
node/
node_modules/

/.yarn/cache
/.yarn/install-state.gz
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions